In [1]:
from hashstash.profiler.serialize_profiler import *
df=run_comparisons(100)

FileHashStash(~/.cache/hashstash/cached_result/hashstash.profiler.serialize_profiler.run_comparisons/db_files)
{"__py__": "builtins.tuple", "__py_args__": [[{"__py__": "hashstash.profiler.serialize_profiler.run_comparisons"}, {"__py__": "builtins.tuple", "__py_args__": [[100]]}, {}]]}

In [2]:
df

,input_size,serialize_time,serialize_size,jsonpickle_time,jsonpickle_size,size
0,997,0.000124,997,0.000113,997,1000
1,1000,0.000071,1000,0.000042,1000,1000
2,1002,0.000070,1002,0.000035,1002,1000
3,1000,0.000066,1000,0.000034,1000,1000
4,1001,0.000065,1001,0.000033,1001,1000
...,...,...,...,...,...,...
295,95538,0.005440,95538,0.002022,95538,100000
296,95532,0.005358,95532,0.002151,95532,100000
297,95544,0.005403,95544,0.002026,95544,100000
298,95546,0.005240,95546,0.002057,95546,100000
299,95535,0.005300,95535,0.002033,95535,100000